{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

<div class="container w-50">
    <h1>Log in to the app:</h1>
    <br />
    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" class="form-control"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" class="form-control"/>
        <br />
        <button type="submit"  class="btn btn-dark">login</button>
        <br /><br />
        <a href="{{ path('app_register') }}" class="btn btn-primary">Register</a>
    </form>
</div>
{% endblock %}
